Temp/
Library/
Assets/Teste/
Assets/_Stuff/
*.svd

# Nao ignorar estes ficheiros
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources

TheWalkingZombies.userprefs
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
TheWalkingZombies.sln